<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/general-styles.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"/>
</head>
<body>

    <form class="main-form" action="/login" method="POST">
        <h1 class="login-title">Login</h1>
        <div class="container-input">
            <label for="uname">Usuario</label>
            <input class="standard-input standard-input-login" type="text" id="uname" name="uname" placeholder="Nombre de usuario" required minlength="5">
        </div>
        <div class="container-input">
            <label for="pssw">Contraseña</label>
            <input class="standard-input standard-input-login" type="password" id="pssw" name="pssw" placeholder="Ingresar contraseña" required minlength="5">
        </div>
        <button class="submit container-input" type="submit">Ingresar</button>
    </form>

</body>
</html>